<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <conversionRule conversionWord="ckvp" converterClass="com.example.product.logging.ColoredKeyValuePairConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %yellow([%15.15thread]) %highlight(%-5level) %cyan(%40.40(%logger{36})) %white([%X{traceId}]) : %msg -- %ckvp{green} %n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
        </encoder>
    </appender>

    <springProfile name="dev | test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!(dev | test)">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
